@model PagedList.IPagedList<PPCRental.Models.PROPERTY>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PPCRental.Models;
<body>
    <section class="listings">
        <div class="wrapper">
            <ul class="properties_list">
                <div id="property">
                    @{Html.RenderAction("Getpaging", "Home", new { page = 1 });}
                </div>
            </ul>
        </div>
    </section>
</body>



