@font-face {
    font-family: 'Helvetica';
    src: url('../font/HelveticaNeue-Medium.woff') format('woff'), url('../font/HelveticaNeue-Medium.ttf') format('truetype'), url('../font/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
footer {
    background-color: #323232;
    color: white;
    height: 200px;
}
#navbar {
    height: 45px;
    background-color: #323232;
    color: white;
    font-size: 18px;
    font-family: 'Helvetica Neue';
    /*border-top-left-radius: 10px;
    border-top-right-radius: 10px;*/
}
#navbar ul {
    margin-top: 9px;
    margin-left:-20px;
}
#navbar ul li {
    display:inline-block;
    list-style-type: none;
    text-align: center;
    width: 120px;
    height:45px;
    color: white;
}
#navbar ul li a:link, a:visited, a:active, a:focus, a:checked {
    color: white;
    text-decoration: none;
}
#navbar ul li a:hover {
    color: lightgoldenrodyellow;
    text-decoration: none;
}
#test {
    list-style-type: none;
    display: inline-block;
}
